* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

:root {
    --tema-cor-1: #F90E84;
    --tema-cor-2: #72eb96;
    --tema-cor-3: #fff;
    --cor-reflexo: rgba(255, 255, 255, 0.4);
    --cores-dancantes: #c93384, #c44f9e, #ff69b4, brgb(255, 255, 255);
    --profileDescriptionText: #F90E84;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(45deg, #72eb96, #fff, #ff69b4);
}

#containerHeader {
    max-width: 300px;
    max-height: 200px;
    margin: auto;
    margin-top: 30px;
}

h1 {
    text-align: center;
}

.paragraTopBar {
    text-align: center;
    color: var(--profileDescriptionText);
    font-size: 15px;
    font-family: "Cormorant Upright", serif;
    font-weight: 700;
}

.conteudo {
    overflow: hidden;
    border-radius: 5px;
    margin-top: 10px;
    background: linear-gradient(135deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, .37);
    padding: 10px;
}

#containerMain {
    max-width: 300px;
    margin: auto;
    margin-top: 30px;
    text-transform: initial;
}

ul {
    text-align: left;
    list-style: none;
}

ul li {
    padding: 15px;
    margin: 5px;    
}

.iconWhatsapp1::before {
    content: url("../assets/whatsapp.svg");
    float: left;
    padding-top: 15px;
    padding-bottom: 8px;
}

.iconWhatsapp2::before {
    content: url("../assets/whatsapp.svg");
    float: left;
    padding-top: 8px;
}

.iconWhatsapp3::before {
    content: url("../assets/whatsapp.svg");
    float: left;
    padding-top: 8px;
} 

.correios::before {
    content: url("../assets/trunk.svg");
    float: left;
}

.iconSite::before {
    content: url("../assets/cart.svg");
    float: left;
}


ul a {
    text-decoration: none;
    color: #F90E84;
    font-weight: bolder;
    cursor: pointer;
}

.box {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    margin-top: 10px;
    background: linear-gradient(135deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, .37);
    border-radius: 8px;
}

.border-top {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #F90E84, #fff);
    animation: anime-border-top 2s linear infinite;
}

@keyframes anime-border-top {
    0% {
        transform: translate(-100%);
    }
    100% {
        transform: translate(100%);
    }
}

.border-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 3px;
    background: linear-gradient(to bottom, #F90E84, #fff);
    animation: anime-border-right 2s linear infinite;
    animation-delay: 1s;
}

@keyframes anime-border-right {
    0% {
        transform: translate(-100%);
    }
    100% {
        transform: translate(100%);
    }
}

.border-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, #F90E84, #fff);
    animation: anime-border-bottom 2s linear infinite;
}

@keyframes anime-border-bottom {
    0% {
        transform: translate(100%);
    }
    100% {
        transform: translate(-100%);
    }
}

.border-left {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background: linear-gradient(to top, #F90E84, #fff);
    animation: anime-border-left 2s linear infinite;
    animation-delay: 1s;
}

@keyframes anime-border-left {
    0% {
        transform: translate(100%);
    }
    100% {
        transform: translate(-100%);
    }
}
